<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/eystyle.css">
    <title>Make U</title>
</head>

<body>
    <header>
        <div class="title_img" th:onclick="|location.href='@{/main}'|">
            <img id="make_u_title" src="img/title.png" alt="MakeU Title">
        </div>
        <div class="header_menu_bar">
            <table class="header_menu_bar_table">
                <tr>
                    <td class="header_menu_bar_td" th:onclick="|location.href='@{/matching}'|">
                        페이스 매칭
                    </td>
                    <td class="header_menu_bar_td" th:onclick="|location.href='@{/shopmatching}'|">
                        샵 둘러보기
                    </td>
                    <td class="header_menu_bar_td" th:onclick="|location.href='@{/main}'|">
                        메이크업 둘러보기
                    </td>
                    <td id="header_menu_bar_empty"></td>
                    <td th:if="${session.members == null}" th:onclick="|location.href='@{/login}'|"
                        class="header_menu_bar_td"> SHOPS</td>
                    <td th:if="${session.members != null}" th:onclick="|location.href='@{/mypage}'|"
                        class="header_menu_bar_td">MyPage</td>
                    <td th:if="${session.members == null}" th:onclick="|location.href='@{/login}'|"
                        class="header_menu_bar_td">Login</td>
                    <td th:if="${session.members != null}" th:onclick="|location.href='@{/logout}'|"
                        class="header_menu_bar_td">Logout</td>
                </tr>
            </table>
        </div>

    </header>

</body>

</html>