<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/eystyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body class="main_body">
    <div th:replace="~{header}"></div> 
     <main class="main">
        <!-- 조건에 맞으면 mem_id가 출력되고, 조건에 맞지 않으면 숨겨짐 -->
        <span th:if="${session.members != null}" style="display: none;" id="mem_id" th:text="${session.members.memid}"></span>
        <div class="cta-button">
            <button th:onclick="|location.href='@{/matching}'|">
                <img src="img/Frame.png" alt="icon" id="button-icon"> 나의 타입 확인하기!
            </button>
        </div>
        
        <div class="gallery">
            <div class="image"
                th:if="${portpolios != null}"
                th:each="port, iterStat : ${portpolios}" 
                th:id="|img_div_${port.portfolioidx}|" 
                th:style="|background-image: url('makeup/${port.portfolioimg}');|"
                th:onclick="|addLikes(${port.portfolioidx})|"
                th:onmouseover="|hoverFunction(${port.portfolioidx})|"
                >
                <span th:id="|image_tags${port.portfolioidx}|" class="tags"></span>
                <div th:id="'heart_img_' + ${port.portfolioidx}"  th:style="|opacity: ${likes != null and likes.contains(port.portfolioidx) ? 1 : 0}; align-content: center; justify-items: center;|" class="heart-container">
                    <img style="width:70%; opacity: 0.6;" src="img/red_full_heart.png">
                </div>                
            </div>
        </div>
    
    </main>
    <script src="js/main.js"></script>
</body>
</html>