<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/eystyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 헤더를 Thymeleaf 템플릿으로 변경 (예시로 header.html 파일을 불러옴) -->
    <div th:replace="~{header}"></div>

    <!-- 버튼 클릭 시 이동할 URL을 Spring 컨트롤러에서 처리하도록 설정 -->
    <!-- <button th:onclick="|location.href='@{/update}'|">update</button> -->
    <div class="mypage_container">
        <table id="mypage_table">
            <tr id="mypage_table_tr1">
                <td>
                    <span id="member_name">홍길동</span>님
                </td>
                <td>
                    메이크업 샵 예약 내역
                </td>
            </tr>
            <tr>
                <td>
                    <table class="mypage_face_info">
                        <tr>
                            <td class="img_tds">
                                <div class="season_img_div">
                                    <img class="mypage_img" src="img/face_shape/round.png">
                                </div>
                            </td>

                            <td class="img_tds">
                                <div class="season_img_div">
                                    <img class="mypage_img" src="img/season/여름2.jpeg">
                            </td>

                        </tr>

                        <tr>
                            <td class="mypage_info">둥근형</td>
                            <td class="mypage_info">여름 쿨톤</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="reservation_div">

                    </div>
                </td>
            </tr>
            <tr id="mypage_table_tr2">
                <td>뷰티 크리에이터 추천</td>
                <td>좋아한 메이크업 사진</td>
            </tr>
            <tr>
                <td>
                    <table class="mypage_creator_table">
                        <tr class="mypage_creator_profile_tr">
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        src="img/creator_profile/Yoo True.jpg" alt=""></div>
                            </td>
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        src="img/creator_profile/김크리스탈 KimCrystal.jpg" alt=""></div>
                            </td>
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        src="img/creator_profile/지냐 Jinyaa.jpg" alt=""></div>
                            </td>
                        </tr>
                        <tr class="mypage_creator_name_tr">
                            <td>
                                <div class="mypage_creator_name_div">유트루</div>
                            </td>
                            <td>
                                <div class="mypage_creator_name_div">김크리스탈</div>
                            </td>
                            <td>
                                <div class="mypage_creator_name_div">지냐</div>
                            </td>
                        </tr>
                        <tr class="mypage_creator_desc_tr">
                            <td>
                                <div class="mypage_creator_decs_div">설명1</div>
                            </td>
                            <td>
                                <div class="mypage_creator_decs_div">설명2</div>
                            </td>
                            <td>
                                <div class="mypage_creator_decs_div">설명2</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td rowspan="3">
                    <div class="mypage_liked_div">
                        <div class="gallary" th:if="${session.members!=null}">
                            <div class="image" th:if="${liked != null}" th:each="photo : ${liked}"
                                th:style="|background-image: url('makeup/${photo.portfolioimg}');|">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>