<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/eystyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 헤더를 Thymeleaf 템플릿으로 변경 (예시로 header.html 파일을 불러옴) -->
    <div th:replace="~{header}"></div>

    <!-- 버튼 클릭 시 이동할 URL을 Spring 컨트롤러에서 처리하도록 설정 -->
    <!-- <button th:onclick="|location.href='@{/update}'|">update</button> -->
    <div class="mypage_container">
        <table id="mypage_table">
            <tr id="mypage_table_tr1">
                <td class="member_info_td">
                    <div>
                        <span th:if="${session.members != nul}" id="member_name"
                            th:text="${session.members.memname}"></span>님
                        </div>
                        <img style="width: 5%;" src="img/pencil.png" onclick="location.href='update'">
                </td>
                <td>
                    메이크업 샵 예약 내역
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mypage_creator_warning" th:if="${session.members == nul}">로그인을 해주세요!</div>
                    <div class="mypage_creator_warning"
                        th:if="${session.members != null && mFacetype.facetypeidx == 0}">facematching을 해주세요!</div>
                    <table
                        th:if="${session.members != null && mFacetype.facetypeidx != 0 && mPersonalcolor.personalcoloridx != 0}"
                        class="mypage_face_info">
                        <tr>
                            <td class="img_tds">
                                <div class="season_img_div">
                                    <img class="mypage_img" th:src="|img/face_shape/${mFacetype.facetypename}.png|">
                                </div>
                            </td>

                            <td class="img_tds">
                                <div class="season_img_div">
                                    <img class="mypage_img"
                                        th:src="|img/season/${mPersonalcolor.personalcolorname}.jpeg|">
                            </td>

                        </tr>

                        <tr>
                            <td class="mypage_info" th:text="${mFacetype.facetypename}"></td>
                            <td class="mypage_info" th:text="${mPersonalcolor.personalcolorname}"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="reservation_div">
                        <div class="reservation_div_1" th:if="${session.members != null}"
                            th:each="reserv : ${reservations}">
                            <div th:text="${#dates.format(reserv.reservationdatetime, 'yy.MM.dd')}"
                                class="reservation_date">12.24(화)</div>
                            <div class="reservation_shop_title">
                                <div class="icon_div"><img class="reservation_icon1" src="img/makeup.png" alt=""></div>
                                <span th:text="${reserv.shopname}" class="mypage_reservation_shop"
                                    style="font-weight: bold;"></span>
                            </div>
                            <div th:text="${reserv.servicetype + ', ' + #dates.format(reserv.reservationdatetime, 'HH:mm~')}"
                                class="reservation_service_name">스냅 사진 메이크업, 전남 오천동</div>
                            <div class="reservation_detail_div"><button>예약 내역 보기</button>
                                <button class="cancel_reservation_btn" th:data-id="${reserv.reservationidx}">예약
                                    취소</button>
                            </div>
                        </div>
                        <div class="mypage_creator_warning" th:if="${session.members == null}">
                            로그인을 해주세요!
                        </div>
                        <div class="mypage_creator_warning"
                            th:if="${session.members != null && reservations.size() <= 0}">
                            예약 내역이 없습니다.
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="mypage_table_tr2">
                <td>뷰티 크리에이터 추천</td>
                <td>좋아한 메이크업 사진</td>
            </tr>
            <tr>
                <td class="mypage_matching_result_td">
                    <div class="mypage_creator_warning" th:if="${session.members == nul}">로그인을 해주세요!</div>
                    <div class="mypage_creator_warning" th:if="${session.members != null && matched[0] == null}">
                        facematching을 해주세요!</div>

                    <table th:if="${session.members != null && matched[0] != null}" class="mypage_creator_table">
                        <tr class="mypage_creator_profile_tr">
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        th:src="|img/creator_profile/${matched[0].creatorname}.jpg|"
                                        th:alt="${matched[0].creatorname}"></div>
                            </td>
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        th:src="|img/creator_profile/${matched[1].creatorname}.jpg|"
                                        th:alt="${matched[1].creatorname}"></div>
                            </td>
                            <td>
                                <div class="creator_profile_div"><img class="creator_profile"
                                        th:src="|img/creator_profile/${matched[2].creatorname}.jpg|"
                                        th:alt="${matched[2].creatorname}"></div>
                            </td>
                        </tr>
                        <tr class="mypage_creator_name_tr">
                            <td>
                                <div class="mypage_creator_name_div" th:text="${matched[0].creatorname}"></div>
                            </td>
                            <td>
                                <div class="mypage_creator_name_div" th:text="${matched[1].creatorname}"></div>
                            </td>
                            <td>
                                <div class="mypage_creator_name_div" th:text="${matched[2].creatorname}"></div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td rowspan="3">
                    <div class="mypage_creator_warning" th:if="${session.members == null}">로그인을 해주세요!</div>
                    <div class="mypage_creator_warning" th:if="${session.members != null && liked.size() == 0}">좋아한 메이크업
                        사진이 없어요 ㅜㅜ</div>
                    <div class="mypage_liked_div" th:if="${session.members != null && liked.size() > 0}">
                        <div class="liked_img_div" th:if="${session.members != null}" th:each="port : ${liked}">
                            <img class="liked_img" th:src="|makeup/${port.portfolioimg}|">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $(".cancel_reservation_btn").off("click").on("click", function () {
                const reservationId = $(this).data("id");
                if (confirm("정말로 예약을 취소하시겠습니까?")) {
                    $.ajax({
                        url: `cancel/${reservationId}`,
                        type: "POST",
                        success: function (response) {
                            alert("예약이 취소되었습니다.");
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert("예약 취소에 실패했습니다: " + xhr.responseText);
                        },
                    });
                }
            });
        });
    </script>
</body>

</html>