<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="css/nystyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- 장바구니 모달 -->
    <div id="cartModal" class="modal">
        <div class="modal-content">
            <table id="cart_list_table">
                <tr>
                    <td>
                        <h2 class="cart-title"> 장바구니</h2>
                    </td>
                    <td class="cart-content">
                        <span class="close-button" id="closeButton" onclick="printMdal()">&times;</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="shop_idx" style="display: none;"></div>
                        <button id="cart_btn">예약하기</button>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
    <script src="./js/shops.js"></script>
</body>

</html>