.modal {
    position: fixed;
    top: 150px;
    right: 10px;
    background-color: #ffffff;
    z-index: 9999999999;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.cart-content {
    margin-left: 20px;
    position: relative;
    right: 0px;
}

.cart-title {
    margin: auto;
    width: 95%;
    color: #333;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: last baseline;
    align-items: center;
    font-weight: bold;
    font-size: 1.3vw;
    position: relative;
    left: 15px;

}

#closeButton{
    position: relative;
    right: -73%;
}

#cartModal{
    width: 30vw;
    height: 84vh;
    border-radius: 10px;
}

.shop_name{
    color: #333;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: last baseline;
    align-items: center;
    font-weight: bold;
}

.cart_list_table_div {
    height: 80%;
}

#cart_list_table {
    display: grid;
}

#cart_list_table div, #cart_list_table span {
    font-size: 1.2vw;
}

#cart_reserv_btn{
    background-color: #E01013;
    color: white;
    margin: auto;
    border: none;
    width:80%;
    border-radius: 10px;
    font-size: 1.3vw;
    padding: 2% 0 2% 0;
    position: relative;
}

.cart_btn_div {
    display: flex;
}

#c_requirement{
    width: 370px;
    height: 100px;
}

.cart_list {
    padding: 5%;
}

.cart_shops_img_div {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cart_shops_img_div img {
    width: 100%;
}

.cart_items_wrap{
    margin: 5%;
    display: grid;
    grid-template-columns: 7% 20% 59% 6%;
    align-items: center;
    width: 100%;
}

.cart-delete {
    height: 90%;
    vertical-align: top;
}