.main_back {
    background-color: #EFF2F3;
    display: flex;
    align-items: flex-end;
}

.result_form {
    padding: 5vh;
    margin: 5% auto 5% auto;
    background-color: white;
    width: 1300px;
    height: 800px;
    border-radius : 130px;
}

.name_font{
    font-size: 25px;
    font-weight: bold;
}
