.main_back {
    background-color: #EFF2F3;
    display: flex;
    align-items: flex-end;
}

.result_form {
    padding: 5vh;
    margin: 5% auto 5% auto;
    background-color: white;
    width: 1300px;
    height: 800px;
    border-radius: 130px;
}

.name_font {
    font-size: 25px;
    font-weight: bold;

}

.img_result {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.modal {
    position: fixed;
    top: 158px;
    right: 10px;
    background-color: #ffffff;
    z-index: 9999999999;
}

.cart-content {
    margin-left: 20px;
}

.cart-title {
    color: #333;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: last baseline;
    align-items: center;
    font-weight: bold;
    font-size: 1.0em;

}

